<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>User dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../../CSS/styles.css" />
  </head>

  <body>
    <!-- Navigation Sidebar -->
    <div id="user-nav"></div>

    <!-- Header Bar with User Dropdown -->
    <div id="user-icon"></div>
    <!-- Dynamic Content Area -->
    <div class="content">
      <h2>News Feed</h2>
      <p>Review the latest posts from others.</p>
      <div class="post-feed">
        <div class="row">
          <!-- The post feeb will be displayed here -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../JS/scripts.js"></script>
    <script src="../../JS/handelIcon.js"></script>
    <script src="../../JS/handelFeed.js"></script>
    <script src="../../JS/handelLogout.js"></script>
    <script src="../../JS/loginRequire.js"></script>
  </body>
</html>
