<nav class="sidebar">
  <img src="../../images/logo.png" alt="" />
  <h4 class="text-center mb-4">Admin Panel</h4>
  <a href="admin-panel.html"><i class="fas fa-home"></i> Dashboard</a>
  <a href="create-admin-post.html"><i class="fas fa-pen"></i> Create Post</a>
  <a href="report-post.html"><i class="fas fa-file-alt"></i> Reports</a>
  <a href="admin-feed.html"><i class="fas fa-stream"></i> News Feed</a>
  <a href="admin-posts.html"><i class="fas fa-stream"></i> Admin Posts</a>
  <a href="admin-list.html"><i class="fas fa-user-shield"></i> Admins</a>
  <a href="user-list.html"><i class="fas fa-users"></i> Users</a>
</nav>
